body{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

.hd{
    background-color: black;
    display: flex;
    flex-direction: row;
    color: orange;
    justify-content: space-around;
    height: 80px;
}
.nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    padding: 20px;
}
.firstlevel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(images/newbg.jpg);
    width: 100vw;
    height: 500px;
}
.firstlevel h1{
    margin: 0px; 
    color: orange; 
    font-size: 100px;
    text-decoration:  underline 5px; 
    
}
a{
    color: orange;
    text-decoration: none;
}
.content{
    margin-left: 20px;
}
.firstlevel .content p{
    font-size: 20px;
}
.secondlevel h1{
    color: orange;
    text-decoration: underline;
}
.secondlevel .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    gap: 10px;  
}
.card1 , .card2 , .card3{
    display: flex;
    flex-direction: column;
    background-color: orange;
    align-items: center;
    margin-top: 20px;
    border-radius: 50px;
}
.card1 h1 , .card2 h1 , .card3 h1{
    color: orangered;
}
footer{
    background-color: black;
    color: orange;
}
footer p{
    margin:0px;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.secondlevel {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: orangered;
}
 .card1 p , .card2 p , .card3 p{
    margin-left: 10px;
    margin-right: 10px;
}
@media (max-width:767px){
    body{
        font-size: 0.7rem;
    }
    html{
        width: 100vw;
    }
    
    .firstlevel h1{
        font-size: 40px;
    }
    .firstlevel p{
        font-size: 10px;
    }
    .secondlevel .cards{
        flex-direction: column;
    }
    .nav{
        font-size: 10px;
    }
    .nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .about-body{
        height: 571px;
    }
}
.about-body{
    background-image: url(images/newbg.jpg);
    width: 100vw;
    height: 75.5vh;
    display: flex;
    justify-content: center;
    align-items: centers;

}
footer h1{
    margin-top: 0px;
}
.about-body .signcard .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}
.about-body .signcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 20px;
    height: 300px;
    margin-top: 100px;
    width: 500px;
    color: orange;
}
.textbox{
    border: none;
    border-radius: 5px;
    height: 20px;
}
.about-body .signcard2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 20px;
    height: 390px;
    margin-top: 40px;
    width: 500px;
    color: orange;
}